{% extends "base.html" %}
{% block head_style %}{{ block.super }}<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>{% endblock %}
{% block content %}{% if form.errors %}<p style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</p>{% endif %}
<form action="" method="post">

<div class="field"> {{ form.subject.errors }}
<label for="id_subject">Тема: :</label> {{ form.subject }}
</div>
<div class="field"> {{ form.email.errors }}
<label for="id_email">E-Mail: :</label> {{ form.email }}
</div>
<div class="field"> {{ form.message.errors }}
<label for="id_message">Сообщение: </label> {{ form.message }}
</div>
{#  <table>form.as_table</table> #}
<input type="submit" value="Submit">
    {% csrf_token %}
</form>{% endblock %}
{% block footer %}<p> Генератор: {{generator_content}} </p>{% endblock %}